- current_view = 'retails'
- header = "#{t'retails'}"

= render :partial => 'generic/top', :locals => { :current_view =>  current_view }
= render :partial => 'retails/top', :locals => { :header => header, :current_view =>  current_view }
= render :partial => 'retails/list'
