%label.spacer-large
  = t"products"

.row
  - if @invoice_products.size > 0

    = render :partial => '/generic/products/list_headers'

    - @invoice_products.each do |ip|
      = render :partial => '/generic/products/list', :locals => { :product => ip, :update_url => "/invoice_products/update/", :model_name => "invoice_product" }

  - else
    .no-data
      = t"no_data"

- unless @disabled || @proforma
  #hiden-form-cover
  .clearfix.last
    #add-new-invoice-product-edit.circle-button.large
      %i.fa.fa-plus
