= render :partial => 'generic/top', :locals => {:current_view => 'stock'}
= render :partial => 'stock_problems/top', :locals => { :header => "#{t'stock.problems'}" }
= render :partial => 'stock_problems/list'
