%label.spacer-large
  = t"products"

.row
  - if @.size > 0

    = render :partial => '/generic/products/list_headers'

    - @delivery_note_products.each do |op|

      = render :partial => '/generic/products/list', :locals => { :product => op, :update_url => "/offer_products/update/", :model_name => "offer_product" }
