/**
  * File          Dashboard
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines Dashboard classes
 **/

@import "globals/colours";
@import "globals/mixins";
@import "globals/sizes";

#dashbaord {
  color: $primary-color;
  background: $theme-2;

  .half-page.left {border: 1px solid $theme-2;}

  table {
    tr:nth-child(even) {
      background: $theme-5;
    }
    tr.data:hover {
     background: $accent-color;
    }
  }
}
