/**
  * File          Stats
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines stats boxes styles
 **/

@import "globals/colours";
@import "globals/mixins";
@import "globals/sizes";


#stats {
  background: $theme-2;
}

.stats-box {
  color: $primary-color;
  float: left;
  margin: 2%;
  padding: 30px;
  background: $accent-color;
  width: 46%;
  @include box_sizing();

  label {
    color: $primary-color;
    opacity: .8;
  }
}
