= render :partial => 'generic/top', :locals => {:current_view => 'tasks'}
= render :partial => "tasks/top", :locals => { :header => "#{t'tasks'}"}

.page-content.clearfix
  #task
    .content
      = render :partial => 'tasks/list'
