/**
  * File          Colours
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines colors
 **/

$primary-color: #fff;

$grey-dark1: #333;
$grey-dark2: #666;
$grey-dark3: #999;

$grey-light1: #ddd;
$grey-light2: #f2f2f2;
$grey-light3: #f9f9f9;

$black: #000;

$accent-color: #ee6693; //pink
$accent-color: rgba(254, 44, 117, 1);
$accent-color-secondary: #46ccbb; // greenish
$accent-color-secondary: #2cddb1;

$theme-1: #3f4574;
$theme-2: #292d4e;
$theme-3: #6a6c83;
$theme-4: #ebf5f4;
$theme-5: #9098d8;
