/**
  * File          File Upload
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   File Upload
 **/

@import "colours";
@import "mixins";
@import "sizes";
@import "fonts";

.progress {
	.bar {
		background: $accent-color-secondary;
		height: 2px;
	}
}
	
.image-cover {
	padding: 15px;
}

.image-cover img {
	width: 100%;
}
 
.image-cover .circle-button {
	position: absolute;
	margin: 20px;
}