/**
  * File          Fonts
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines fonts
 **/

$font-family: "Helvetica Neue", Helvetica, Arial;
$font-family2: Helvetica, Arial;
$font-family3: "DIN Pro", DIN;