/**
  * File          Generic
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines generic styles applied across app
 **/

@import "mixins";
@import "colours";
@import "sizes";
@import "fonts";

body {
    font-family: $font-family2;
    line-height: 1.5em;
}

a {
  text-decoration: none;
  color: $accent-color;
}

h1 , h2, h3, h4, h5 {
    font-family: $font-family;
    font-weight: 100;
    margin: 0;
}

h2 {
  font-size: $font-large
}

p {
  margin: 0 0 10px 0;
}
