/**
  * File          Helpers
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines helper classes
 **/
 
@import "colours";
@import "mixins";
@import "sizes";
@import "fonts";

.hide {
  display: none;
}

.spacer-small {
  margin-top: 10px;
}

.spacer-medium {
  margin-top: 15px;
}

.spacer-large {
  margin-top: 20px;
}

.h-line {
  background: $accent-color;
  width: 70px;
  height: 5px;
}

.content .big, 
.content .big input[type="text"] {
  font-weight: 100;
  float: left;
  font-size: $font-stats;
  font-family: $font-family3;  
  margin: 0;
  line-height: 1.5em;
  &.input-holder {
    color: $grey-dark3;   
  }
}    

.active {
  color: $accent-color-secondary;
}

.pasive {
  color: $accent-color;
}

.currency {
  text-align: right;
}

.slide {
  padding-right: 30px;
}

.no-data {
  width: 100%;
  padding: 10px 0px !important;
  box-sizing: border-box;
  font-weight: 100;
  color: $grey-dark3;
  font-size: $font-medium;
  border-bottom: 1px solid $primary-color;
  font-family: $font-family2;  
  font-style: italic;  
}

