/**
  * File          ICONs
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines icon classes
 **/
 
@import "colours";
@import "mixins";
@import "sizes";
@import "fonts";
@import "font-awesome";

.fa.action {
  color: $accent-color-secondary;
	padding: 30px;
}

.fa.action:hover {
	color: $accent-color-secondary;
  background: $theme-2;
}

.search .icon {  
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
  -o-transform: rotate(45deg);  
}