/**
  * File          ICONs
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines icon classes
 **/

@import "colours";
@import "mixins";
@import "sizes";
@import "fonts";
@import "font-awesome";

.fa.action {
  color: $accent-color-secondary;
  padding: 30px;
}

.fa.action:hover {
  color: $accent-color-secondary;
  background: $theme-2;
}

.fa-question-circle {
  font-size: $font-medium !important;
}

.fa-bell, .fa-search {
  color: $accent-color;
}

.fa-circle-o-notch, .fa-exclamation-triangle, .fa-bell{
   color: $accent-color-secondary;
}

 .fa-building-o {
   color: $theme-5;
   padding-right: 5px;
 }

 .fa-filter {
   color: $accent-color;
   font-size: $font-large !important;
 }
