/**
  * File          PDF
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines generic styles applied across app
 **/

@import "colours";
@import "mixins";
@import "sizes";
@import "fonts";

.pdf {
    border: 1px dotted $grey-light1;
    margin: 50px;
    font-weight: 100;
}

.pdf-top {
    min-height: 500px;
}

.pdf-section {
    margin-top: 30px;
}

.pdf-values {
    margin-top: 20px;
    font-size: $font-small;
}

.pdf-primary-number {
  font-weight: 100;
  font-size: $font-stats;
  font-family: $font-family3;
  line-height: 1.5em;
}

.pdf-table {
    th {
        font-size: 8px;
        background: #333;
        color: #fff;
        padding: 5px 10px !important;
    }
    tr {
        border-bottom: 1px dotted $grey-light1;
    }
    td {
        font-size: 10px;
        background: #fff;
    }
    td, th {
        width: 10%;
    }
    td.name,
    th.name {
        width: 30%;
    }
}

.totals {
    float: right;
    width: 60%;
    .total-header {
        float: left;
        width: 50%;
    }
    .total-sum {
        float: left;
        width: 50%;
        text-align: right
    }
    .final {
        font-weight: bold;
    }
}

.pdf-footer {
    font-size: $font-medium;
}
