/**
  * File          Sizes
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines sizes classes - Only in this file width and height should be defined!
 **/

@import "mixins";

$font-tiny: 9px;

$font-small: 11px;
$font-medium: 13px;
$font-large: 21px;

$font-h1: 27px;

$font-stats: 50px;
