/**
  * File          Tables
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Defines generic styles applied across app
 **/
 
@import "colours";
@import "mixins";
@import "sizes";
@import "fonts";

table {

  width: 100%;
  
  th {
    font-weight: 100;
    font-size: $font-small;
    text-transform: uppercase;
    color: $theme-5;    
    text-align: left;
    padding: 10px 10px 20px 10px;
    &:first-child {
      padding-left: 0;
    }
  }

  td {
    font-size: $font-medium;
    font-weight: 100;  
    padding: 10px; 

  }
    
  tr.data {
    &:hover {
      background: $accent-color;
      color: $primary-color;
      cursor: pointer;
      td {
        color: $primary-color !important;        
      }
    }
  }
  tr:nth-child(even) {
      background: $grey-light3;    
  }
}

label {
  font-weight: 100;
  font-size: $font-small;
  text-transform: uppercase;
  color: $grey-dark3;
  text-align: left;  
  display: block;
}

.content {
  input[type="text"], 
  textarea, 
  select,
  .ui-selectmenu-text {
    border: none;
    float: left;
    width: 100%;
    padding: 10px 20px 10px 0px !important;
    box-sizing: border-box;
    font-weight: 100;
    color: $grey-dark1;  
    font-size: $font-medium;
    border-bottom: 1px solid $primary-color;
    font-family: $font-family2;
    
    &:focus {
      border-bottom: 1px solid $accent-color-secondary;
    }   
    
    &:hover {
      border-bottom: 1px solid $accent-color-secondary !important;
    }
  }
  select {
    margin: 10px 0;
  }  
  textarea {
     min-height: 50px;
  } 

}
