/**
  * File          Tooltip
  * Application   Little Factory
  * Copyright     All rights reserved by Roman Leinwather - Lewro
  * Description   Tooltip
 **/

@import "colours";
@import "mixins";
@import "sizes";
@import "fonts";

.ui-tooltip {
    padding: 7px 10px !important;
    color: $primary-color !important;
    font-size: $font-tiny !important;
    line-height: 1.5em !important;
    text-transform: uppercase !important;
    background: $theme-2 !important;
    @include drop-shadow(0px, 5px, 10px);
}
