= render :partial => 'generic/top', :locals => {:current_view => 'payment-conditions'}
= render :partial => 'payment_conditions/top', :locals => { :header => "#{t'payment_conditions'}" }
= render :partial => 'payment_conditions/list'