.clearfix.list-headers
  .clearfix
    .third
      %label
        = t"address.street"
    .seventh
      %label
        = t"address.street_number"
    .third
      %label
        = t"address.city"
    .eight
      %label
        = t"address.zipcode"