= render :partial => 'generic/top', :locals => { :current_view => "settings" }
= render :partial => "settings/top"
= render :partial => "settings/form", :locals => { :action =>  "#{t'actions.save'}" }