= render :partial => 'generic/top', :locals => {:current_view => 'tax-groups'}
= render :partial => 'tax_groups/top', :locals => { :header => "#{t'tax_groups'}" }
= render :partial => 'tax_groups/list'