= render :partial => 'generic/top', :locals => { :current_view => @category }
= render :partial => "companies/top", :locals => { :header => @client.name  + " " + @client.id.to_s}
= render :partial => "companies/form", :locals => { :action =>  "#{t'actions.save'}", :category => "client", :remove => true }
