= render :partial => 'generic/top', :locals => {:current_view => 'supplier-orders'}
= render :partial => 'supplier_orders/top', :locals => { :header => "#{t'orders.supplier_orders'}" }
= render :partial => 'supplier_orders/list'