= render :partial => 'generic/top', :locals => {:current_view => 'stock'}
= render :partial => 'product_stock_products/top', :locals => { :header => "#{t'stock.products'}" }
= render :partial => 'product_stock_products/list'
