%label.spacer-large
  = t"products"

.row
  - if @offer_products.size > 0

    = render :partial => '/generic/products/list_headers', :locals => { :model_name => "offer_product" }

    - @offer_products.each do |op|

      = render :partial => '/generic/products/list', :locals => { :product => op, :update_url => "/offer_products/update/", :model_name => "offer_product" }

  - else
    .no-data
      = t"no_data"

- unless @disabled
  #hiden-form-cover
  .row.clearfix.last
    #add-new-offer-product-edit.circle-button.large
      %i.fa.fa-plus
