= render :partial => 'generic/top', :locals => {:current_view => 'dashboard'}

.page-content.clearfix#dashbaord
  .half-page.left.scroll
    = render :partial => 'reminders_list'

  .half-page.scroll
    = render :partial => 'dashboards/stats'
