= render :partial => 'generic/top', :locals => {:current_view => 'stock'}
= render :partial => 'product_stock_locations/top', :locals => { :header => "#{t'stock.product_locations'}" }
= render :partial => 'product_stock_locations/list'
